// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$purp: rgba(242, 141, 170, 0.8);
$yell: rgba(246, 226, 78, 0.8);

.text-yell {
  color: $yell;
}

.text-purp {
  color: $purp;
}

.text-blue {
  color: $blue;
}

.text-indigo {
  color: $indigo;
}

.text-purple {
  color: $purple;
}

.text-red {
  color: $red;
}

.text-orange {
  color: $orange;
}

.text-yellow {
  color: $yellow;
}

.text-teal {
  color: $teal;
}

.text-green {
  color: $green;
}

.text-cyan {
  color: $cyan;
}

.text-pink {
  color: $pink;
}